# tutorial/.htaccess
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    #RewriteCond $1 !^(public/Assests)
    RewriteRule   ^$ public/    [L]
    RewriteRule   ((?s).*) public/$1 [L]
</IfModule>